# IDE/editor settings and project configuration
.vscode
.eslintrc.json
.prettierrc
.prettierignore
tsconfig.*
Dockerfile*
CODEOWNERS

# Docs, hacks, dev utilities
.adr-dir
adr
_images
/docs/
/hack
/journey

# Test and coverage files
__mocks__
coverage
*.test.*
src/**/*.test.ts

# Build output
dist/

# Dev-specific modules and test modules
pepr-test-module

# Source files not intended for publishing
src/cli
src/fixtures

# GitHub and CI configs
.github
.dockerignore

# Miscellaneous
*.tgz
*.toml