name: Container Scans

permissions:
  actions: read

on:
  pull_request:
    paths-ignore:
    - "**.md"
    - "LICENSE"
    - "CODEOWNERS"  
  
jobs:
  container-scans:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Use Node.js latest
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: 20
          cache: "npm"
      - name: Install Pepr Dependencies
        run: npm ci
      - name: Build Pepr Controller Image
        run: npm run build:image
      - name: Configure Grype Ignore File
        run: |
          mkdir -p ~/.grype
          echo "ignore:" > ~/.grype.yaml
          echo "  - vulnerability: CVE-2025-9230" >> ~/.grype.yaml
          echo "  - vulnerability: GHSA-5j98-mcp5-4vw2" >> ~/.grype.yaml
      - name: Vulnerability Scan
        uses: anchore/scan-action@40a61b52209e9d50e87917c5b901783d546b12d0 # v7.2.1
        with:
          image: "pepr:dev"
          fail-build: true
          severity-cutoff: high
      - name: Generate SBOM
        uses: anchore/sbom-action@fbfd9c6c189226748411491745178e0c2017392d # v0.20.10
        with:
          image: pepr:dev
          upload-artifact: true
          upload-artifact-retention: 30
