name: Container Scans

permissions:
  actions: read

on:
  pull_request:
    paths-ignore:
    - "**.md"
    - "LICENSE"
    - "CODEOWNERS"  
  
jobs:
  container-scans:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Use Node.js latest
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 20
          cache: "npm"
      - name: Install Pepr Dependencies
        run: npm ci
      - name: Build Pepr Controller Image
        run: npm run build:image
      - name: Configure Grype Ignore File
        run: |
          mkdir -p ~/.grype
          echo "ignore:" > ~/.grype.yaml
          echo "  - vulnerability: CVE-2025-9230" >> ~/.grype.yaml
          echo "  - vulnerability: GHSA-5j98-mcp5-4vw2" >> ~/.grype.yaml
          echo "  - vulnerability: CVE-2026-22184" >> ~/.grype.yaml
          echo "  - vulnerability: GHSA-8qq5-rm4j-mr97" >> ~/.grype.yaml
      - name: Vulnerability Scan
        uses: anchore/scan-action@0d444ed77d83ee2ba7f5ced0d90d640a1281d762 # v7.3.0
        with:
          image: "pepr:dev"
          fail-build: true
          severity-cutoff: high
      - name: Generate SBOM
        uses: anchore/sbom-action@0b82b0b1a22399a1c542d4d656f70cd903571b5c # v0.21.1
        with:
          image: pepr:dev
          upload-artifact: true
          upload-artifact-retention: 30
