name: Container Scans

permissions:
  actions: read

on:
  pull_request:
    paths-ignore:
    - "**.md"
    - "LICENSE"
    - "CODEOWNERS"  
  
jobs:
  container-scans:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Use Node.js latest
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: 20
          cache: "npm"
      - name: Install Pepr Dependencies
        run: npm ci
      - name: Build Pepr Controller Image
        run: npm run build:image
      - name: Configure Grype Ignore File
        run: |
          mkdir -p ~/.grype
          echo "ignore:" > ~/.grype.yaml
          echo "  - vulnerability: CVE-2025-9230" >> ~/.grype.yaml
          echo "  - vulnerability: GHSA-5j98-mcp5-4vw2" >> ~/.grype.yaml
      - name: Vulnerability Scan
        uses: anchore/scan-action@3c9a191a0fbab285ca6b8530b5de5a642cba332f # v7.2.2
        with:
          image: "pepr:dev"
          fail-build: true
          severity-cutoff: high
      - name: Generate SBOM
        uses: anchore/sbom-action@a930d0ac434e3182448fe678398ba5713717112a # v0.21.0
        with:
          image: pepr:dev
          upload-artifact: true
          upload-artifact-retention: 30
