name: Container Scans

permissions:
  actions: read

on:
  pull_request:
    paths-ignore:
    - "**.md"
    - "LICENSE"
    - "CODEOWNERS"  
  
jobs:
  container-scans:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Use Node.js latest
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 20
          cache: "npm"
      - name: Install Pepr Dependencies
        run: npm ci
      - name: Build Pepr Controller Image
        run: npm run build:image
      - name: Configure Grype Ignore File
        run: |
          mkdir -p ~/.grype
          echo "ignore:" > ~/.grype.yaml
          echo "  - vulnerability: GHSA-8qq5-rm4j-mr97" >> ~/.grype.yaml
          echo "  - vulnerability: CVE-2025-59465" >> ~/.grype.yaml
          echo "  - vulnerability: CVE-2025-55131" >> ~/.grype.yaml          
          echo "  - vulnerability: GHSA-r6q2-hw4h-h46w" >> ~/.grype.yaml                    
          echo "  - vulnerability: CVE-2025-55130" >> ~/.grype.yaml                              
      - name: Vulnerability Scan
        uses: anchore/scan-action@62b74fb7bb810d2c45b1865f47a77655621862a5 # v7.2.3
        with:
          image: "pepr:dev"
          fail-build: true
          severity-cutoff: high
      - name: Generate SBOM
        uses: anchore/sbom-action@62ad5284b8ced813296287a0b63906cb364b73ee # v0.22.0
        with:
          image: pepr:dev
          upload-artifact: true
          upload-artifact-retention: 30
