name: Container Scans

permissions:
  actions: read

on:
  pull_request:
    paths-ignore:
    - "**.md"
    - "LICENSE"
    - "CODEOWNERS"  
  
jobs:
  container-scans:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: audit
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Use Node.js latest
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 20
          cache: "npm"
      - name: Install Pepr Dependencies
        run: npm ci
      - name: Build Pepr Controller Image
        run: npm run build:image
      - name: Configure Grype Ignore File
        run: |
          mkdir -p ~/.grype
          echo "ignore:" > ~/.grype.yaml
          echo "  - vulnerability: GHSA-8qq5-rm4j-mr97" >> ~/.grype.yaml
          echo "  - vulnerability: CVE-2025-59465" >> ~/.grype.yaml
          echo "  - vulnerability: CVE-2025-55131" >> ~/.grype.yaml          
          echo "  - vulnerability: GHSA-r6q2-hw4h-h46w" >> ~/.grype.yaml                    
          echo "  - vulnerability: CVE-2025-55130" >> ~/.grype.yaml     
          echo "  - vulnerability: GHSA-8qq5-rm4j-mr97" >> ~/.grype.yaml   
          echo "  - vulnerability: GHSA-5j98-mcp5-4vw2" >> ~/.grype.yaml   
          echo "  - vulnerability: CVE-2025-9230" >> ~/.grype.yaml   


      - name: Vulnerability Scan
        uses: anchore/scan-action@8d2fce09422cd6037e577f4130e9b925e9a37175 # v7.3.1
        with:
          image: "pepr:dev"
          fail-build: true
          severity-cutoff: high
      - name: Generate SBOM
        uses: anchore/sbom-action@62ad5284b8ced813296287a0b63906cb364b73ee # v0.22.0
        with:
          image: pepr:dev
          upload-artifact: true
          upload-artifact-retention: 30
