name: E2E Test on Excellent Examples


permissions: read-all
on:
  workflow_dispatch:
  schedule:
    - cron: '0 4 * * *' # 12AM EST/9PM PST

jobs:
  e2e:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - name: Use Node.js latest
        uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4.0.2
        with:
          node-version: latest
          cache: "npm"

      - name: "Install K3d"
        run: "curl -s https://raw.githubusercontent.com/k3d-io/k3d/main/install.sh | bash"
        shell: bash

      - name: Install Pepr Dependencies
        run: npm ci

      - name: Create the dist folder
        run: npm run test:journey:build

      - name: Create K3d Cluster
        run: npm run test:journey:k3d

      - name: Build Dev Image and Inject into Cluster
        run: npm run test:journey:image

      - name: Checkout Excellent Examples
        uses: actions/checkout@v4
        with:
          repository: defenseunicorns/pepr-excellent-examples
          path: 'pepr-excellent-examples' 


      - name: Install Excellent Example Dependencies
        run: npm ci
        working-directory: pepr-excellent-examples

      - name: Run E2E Tests
        run: npm run test:e2e -- -i pepr:dev
        working-directory: pepr-excellent-examples
