name: Pepr Load Test

permissions: read-all
on:
  workflow_dispatch:
  schedule:
    - cron: '0 5 * * *' # 1AM EST/10PM PST

jobs:
  load:
    name: load test
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: "install k3d"
        run: "curl -s --retry 5 --retry-all-errors --fail https://raw.githubusercontent.com/k3d-io/k3d/main/install.sh | bash"
        shell: bash

      - name: clone pepr
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          repository: defenseunicorns/pepr
          path: pepr

      - name: "set env: PEPR"
        run: echo "PEPR=${GITHUB_WORKSPACE}/pepr" >> "$GITHUB_ENV"

      - name: clone pepr-excellent-examples
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          repository: defenseunicorns/pepr-excellent-examples
          path: pepr-excellent-examples

      - name: "set env: PEXEX"
        run: echo "PEXEX=${GITHUB_WORKSPACE}/pepr-excellent-examples" >> "$GITHUB_ENV"

      - name: setup node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 20
          cache: "npm"
          cache-dependency-path: pepr

      - name: install load script run dependencies
        run: |
          cd "$PEPR"
          npm ci

      - name: "load.cli.ts prep"
        run: |
          cd "$PEPR"
          npx tsx hack/load.cli.ts prep ./

      - name: upload pepr package artifact (.tgz)
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: tgz
          path: "**/pepr-0.0.0-development.tgz"
          if-no-files-found: error
          retention-days: 30

      - name: upload pepr controller image artifact (.tar)
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: tar
          path: "**/pepr-dev.tar"
          if-no-files-found: error
          retention-days: 30

      - name: "load.cli.ts cluster up"
        run: |
          cd "$PEPR"
          npx tsx hack/load.cli.ts cluster up

      - name: "load.cli.ts deploy"
        run: |
          cd "$PEPR"
          npx tsx hack/load.cli.ts deploy \
            ./pepr-0.0.0-development.tgz \
            ./pepr-dev.tar \
            ${PEXEX}/hello-pepr-load

      - name: "load.cli.ts run"
        run: |
          cd "$PEPR"
          npx tsx hack/load.cli.ts run --act-intensity=4000 \
            ${PEXEX}/hello-pepr-load \
            capabilities/configmap.yaml

      - name: upload raw test inject log (actress)
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: actress.log
          path: "**/load/*-actress.log"
          if-no-files-found: error
          retention-days: 30

      - name: upload raw test sample log (audience)
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: audience.log
          path: "**/load/*-audience.log"
          if-no-files-found: error
          retention-days: 30

      - name: "load.cli.ts post"
        run: |
          cd "$PEPR"
          npx tsx hack/load.cli.ts post

      - name: upload parsed inject log (actress)
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: actress.json
          path: "**/load/*-actress.json"
          if-no-files-found: error
          retention-days: 30

      - name: upload parsed sample log (audience)
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: audience.json
          path: "**/load/*-audience.json"
          if-no-files-found: error
          retention-days: 30

      - name: upload load test summary
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: summary.json
          path: "**/load/*-summary.json"
          if-no-files-found: error
          retention-days: 30

      - name: "load.cli.ts graph"
        run: |
          cd "$PEPR"
          npx tsx hack/load.cli.ts graph

      - name: upload load test result graph (watcher)
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: watcher.png
          path: "**/load/*.png"
          if-no-files-found: error
          retention-days: 30
