name: Node.js Unicorn CI

on:
  workflow_dispatch:
  push:
    branches: ["main"]
    paths-ignore:
      - "package.json"    
      - "package-lock.json"    
      - "Dockerfile"          
      - "Dockerfile.controller"  
      - "Dockerfile.kfc"         
      - "Dockerfile.unicorn"     
  pull_request:
    branches: ["main"]
    paths-ignore:
      - "package.json"    
      - "package-lock.json"             
      - "Dockerfile"              
      - "Dockerfile.controller"   
      - "Dockerfile.kfc"          
      - "Dockerfile.unicorn" 
  merge_group:
    paths-ignore:
    - "LICENSE"
    - "CODEOWNERS"
    - "**.md"
    - "package.json"    
    - "package-lock.json"             
    - "Dockerfile"              
    - "Dockerfile.controller"   
    - "Dockerfile.kfc"          
    - "Dockerfile.unicorn" 

permissions:
  id-token: write # This is needed for OIDC federation.
  contents: read

jobs:
  on-demand-workflows:
    uses: ./.github/workflows/on-demand-workflows.yaml
    secrets:
      CODECOV_ORG_TOKEN: ${{ secrets.CODECOV_ORG_TOKEN }}
    with:
      run-format: true
      run-units: false
      run-integration: false

  journey:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Use Node.js 22
        uses: actions/setup-node@1d0ff469b7ec7b3cb9d8673fde0c81c44821de2a # v4.2.0
        with:
          node-version: 22
          cache: "npm"
      - name: Setup Helm
        uses: azure/setup-helm@fe7b79cd5ee1e45176fcad797de68ecaf3ca4814 # v4.2.0
        with:
          version: v3.3.4
      - name: "Install K3d"
        run: "curl -s https://raw.githubusercontent.com/k3d-io/k3d/main/install.sh | bash"
        shell: bash

      - name: Chainguard Login
        uses: chainguard-dev/setup-chainctl@2302a56a61228140753b428d1018cb0d0addbec6 # v0.3.0
        with:
          identity: ${{ secrets.CHAINGUARD_IDENTITY }}

      - run: npm ci
      - run: |
          npm run test:journey:unicorn
          npm run test:journey-wasm:unicorn
