name: Version Release

on:
  push:
    branches: ["main"]
    paths-ignore:
    - "**.md"
    - "LICENSE"
    - "CODEOWNERS"



permissions:
  contents: read
  id-token: write # Required for OIDC

jobs:
  build-and-release:
    runs-on: ubuntu-latest

    permissions:
      contents: write
      issues: write
      pull-requests: write
      id-token: write 
      packages: write

    outputs:
      pepr_version: ${{ steps.capture.outputs.pepr_version }}

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
      - uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: Use Node.js 24
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 24
          registry-url: "https://registry.npmjs.org"
          cache: "npm"

      - name: Rapidfort Login
        uses: nick-fields/retry@ce71cc2ab81d554ebbe88c79ab5975992d79ba08 # v3.0.2
        with:
          max_attempts: 5
          retry_on: error
          timeout_minutes: 1
          command: |
            echo "${{ secrets.RAPIDFORT_PASSWORD }}" | docker login quay.io --username "${{ secrets.RAPIDFORT_USERNAME }}" --password-stdin

      - name: UDS Registry Login
        run: echo "${{ secrets.UDS_REGISTRY_PASSWORD }}" | docker login -u "${{ secrets.UDS_REGISTRY_USERNAME }}" --password-stdin registry.defenseunicorns.com
        shell: bash

      - name: "Pepr Controller: Login to GHCR"
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: ghcr.io
          username: dummy
          password: ${{ github.token }}

      - name: Set up Node registry authentication
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 24
          registry-url: "https://registry.npmjs.org"

      - name: Publish GitHub Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: |
          npx semantic-release \
          --analyze-commits @semantic-release/commit-analyzer \
          --generate-notes @semantic-release/release-notes-generator \
          --prepare @semantic-release/npm \
          --publish @semantic-release/github

      - name: Capture Pepr version
        id: capture
        run: |
          V=$(jq -r .version package.json)
          echo "pepr_version=$V" >> "$GITHUB_OUTPUT"
          echo "PEPR_VERSION=$V" >> "$GITHUB_ENV"
          echo "Detected version: $V"

      - name: Publish to GHCR 
        if: ${{ env.PEPR_VERSION != '0.0.0-development' }}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: ./.github/workflows/scripts/release.sh "${PEPR_VERSION}" 

  slsa: # This is where the slsa tarball is built for publish-package step
    if: ${{ needs.build-and-release.outputs.pepr_version != '0.0.0-development' }}
    permissions:
      id-token: write
      actions: read
      contents: read
    needs: [build-and-release]
    uses: slsa-framework/slsa-github-generator/.github/workflows/builder_nodejs_slsa3.yml@f7dd8c54c2067bafc12ca7a55595d5ee9b75204a #v2.1.0
    with:
      run-scripts: "set-version, ci, build"
    secrets: inherit

  publish:
    if: ${{ needs.build-and-release.outputs.pepr_version != '0.0.0-development' }}
    needs: [slsa, build-and-release]
    runs-on: ubuntu-latest
    env:
      PEPR_VERSION: ${{ needs.build-and-release.outputs.pepr_version }}
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - name: Set up Node registry authentication
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 24
          registry-url: "https://registry.npmjs.org"

      - name: Set Version
        run: |
          node ./scripts/set-version.js "$PEPR_VERSION"
          npm install
          npm run build

      - name: Publish package
        id: publish
        uses: slsa-framework/slsa-github-generator/actions/nodejs/publish@a09dd8c05eda63cace134cb7dccd7e019f25e6f3 # v2.0.0
        with:
          access: public
          node-auth-token: ${{ secrets.NPM_TOKEN }}
          package-name: ${{ needs.slsa.outputs.package-name }}
          package-download-name: ${{ needs.slsa.outputs.package-download-name }}
          package-download-sha256: ${{ needs.slsa.outputs.package-download-sha256 }}
          provenance-name: ${{ needs.slsa.outputs.provenance-name }}
          provenance-download-name: ${{ needs.slsa.outputs.provenance-download-name }}
          provenance-download-sha256: ${{ needs.slsa.outputs.provenance-download-sha256 }}

  pack-and-push:
    if: ${{ needs.build-and-release.outputs.pepr_version != '0.0.0-development' }}
    needs: [publish, build-and-release]
    runs-on: ubuntu-latest
    env:
      PEPR_VERSION: ${{ needs.build-and-release.outputs.pepr_version }}
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Use Node.js 24
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 24
          registry-url: "https://registry.npmjs.org"
          cache: "npm"

      - name: Download ORAS
        run: |
          VERSION="1.2.2"
          curl -LO "https://github.com/oras-project/oras/releases/download/v${VERSION}/oras_${VERSION}_linux_amd64.tar.gz"
          mkdir -p oras-install/
          tar -zxf oras_${VERSION}_*.tar.gz -C oras-install/
          sudo mv oras-install/oras /usr/local/bin/
          rm -rf oras_${VERSION}_*.tar.gz oras-install/

      - name: Docker login to UDS registry
        run: echo "${{ secrets.UDS_REGISTRY_PASSWORD }}" | docker login -u "${{ secrets.UDS_REGISTRY_USERNAME }}" --password-stdin registry.defenseunicorns.com

      - name: Push package to UDS OCI registry
        run: |
          npm install --global npm
          node ./scripts/set-version.js "$PEPR_VERSION"
          npm install
          npm run build
          oras push registry.defenseunicorns.com/pepr-dev/npm/pepr:v${PEPR_VERSION} \
            --artifact-type application/vnd.pepr.module.layer.v1 pepr-${PEPR_VERSION}.tgz
