name: secret-scan
on: 
  pull_request:
    branches:
      - main
    paths-ignore:
    - "LICENSE"
    - "CODEOWNERS"
    - "**.md"

permissions:  # added using https://github.com/step-security/secure-repo
  contents: read
  
jobs:
  secret-scan: # scan for any live secrets in the repository using trufflehog
    runs-on: ubuntu-latest
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
      with:
        egress-policy: audit
    - name: Checkout code
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        fetch-depth: 0
    - name: Default Secret Scanning
      uses: trufflesecurity/trufflehog@7f4e37db2d928c18ddd7ddf0604f8f7d1f5793ec # main
      with:
        extra_args: --debug --only-verified
