name: secret-scan
on: 
  pull_request:
    branches:
      - main
    paths-ignore:
    - "LICENSE"
    - "CODEOWNERS"
    - "**.md"

permissions:  # added using https://github.com/step-security/secure-repo
  contents: read
  
jobs:
  secret-scan: # scan for any live secrets in the repository using trufflehog
    runs-on: ubuntu-latest
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
      with:
        egress-policy: audit
    - name: Checkout code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        fetch-depth: 0
    - name: Default Secret Scanning
      uses: trufflesecurity/trufflehog@05cccb53bc9e13bc6d17997db5a6bcc3df44bf2f # main
      with:
        extra_args: --debug --only-verified
