name: UDS - Smoke Test

permissions: read-all
on:
  pull_request:
    branches:
      - main
    paths-ignore:
    - "LICENSE"
    - "CODEOWNERS"
    - "**.md"
  workflow_dispatch:
  schedule:
    - cron: '0 4 * * *' # 12AM EST/9PM PST

jobs:
  pepr-build:
    name: pepr build
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - name: clone pepr
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          repository: defenseunicorns/pepr
          path: pepr

      - name: "set env: PEPR"
        run: echo "PEPR=${GITHUB_WORKSPACE}/pepr" >> "$GITHUB_ENV"

      - name: setup node
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: 24
          cache: "npm"
          cache-dependency-path: pepr

      - name: install pepr deps
        run: |
          cd "$PEPR"
          npm ci

      - name: build pepr image
        run: |
          cd "$PEPR"
          npm run build:image

      - name: build pepr library npm module
        run: |
          cd "$PEPR"
          npm run build
          PEPR_TGZ="${GITHUB_WORKSPACE}/pepr-0.0.0-development.tgz"
          echo "PEPR_TGZ=${PEPR_TGZ}" >> "$GITHUB_ENV"
          mv "$PEPR/pepr-0.0.0-development.tgz" "$PEPR_TGZ"

      - name: tar pepr image
        run: |
          PEPR_TAR="${GITHUB_WORKSPACE}/pepr-img.tar"
          echo "PEPR_TAR=${PEPR_TAR}" >> "$GITHUB_ENV"
          docker image save --output "$PEPR_TAR" pepr:dev

      - name: upload image tar artifact
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: pepr-img.tar
          path: pepr-img.tar
          retention-days: 1

      - name: upload pepr tgz artifact
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: pepr-0.0.0-development.tgz
          path: pepr-0.0.0-development.tgz
          retention-days: 1

  uds-run:
    name: uds run
    runs-on: ubuntu-latest
    needs:
      - pepr-build
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - name: "install k3d"
        run: "curl -s --retry 5 --retry-all-errors --fail https://raw.githubusercontent.com/k3d-io/k3d/main/install.sh | bash"
        shell: bash

      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          repository: defenseunicorns/uds-core
          path: uds-core

      - name: "set env: UDS_CORE"
        run: echo "UDS_CORE=${GITHUB_WORKSPACE}/uds-core" >> "$GITHUB_ENV"

      - name: setup node
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: 24
          cache: "npm"
          cache-dependency-path: uds-core

      - name: install uds cli
        run: |
          LATEST_URL="https://api.github.com/repos/defenseunicorns/uds-cli/releases/latest"
          REMOTE_URL=$(
            curl --silent "$LATEST_URL" \
              | grep 'browser_download_url.*_Linux_amd64"' \
              | cut -d : -f 2,3 \
              | tr -d \" \
              | tr -d " "
          )
          BINS="$HOME/.local/bin"
          mkdir -p "$BINS"
          UDS_CLI="$BINS/uds"
          curl --location --output "$UDS_CLI" "$REMOTE_URL"
          chmod +x "$UDS_CLI"

          uds version

      - name: download image tar artifact
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: pepr-img.tar
          path: ${{ github.workspace }}

      - name: download tgz artifact
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: pepr-0.0.0-development.tgz
          path: ${{ github.workspace }}

      - name: "set env: PEPR_TGZ"
        run: echo "PEPR_TGZ=${GITHUB_WORKSPACE}/pepr-0.0.0-development.tgz" >> "$GITHUB_ENV"

      - name: "set env: PEPR_IMG"
        run: echo "PEPR_IMG=${GITHUB_WORKSPACE}/pepr-img.tar" >> "$GITHUB_ENV"

      - name: clone pepr
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          repository: defenseunicorns/pepr
          path: pepr

      - name: "set env: PEPR"
        run: echo "PEPR=${GITHUB_WORKSPACE}/pepr" >> "$GITHUB_ENV"

      - name: import docker image from pepr tar
        run: |
          docker image load --input "$PEPR_IMG"

      - name: uds run
        run: |
          cd "$UDS_CORE"
          npm install "$PEPR_TGZ" 
          PEPR_CUSTOM_IMAGE="pepr:dev" uds run slim-dev
