name: Upgrade Test - Upstream

on:
  workflow_dispatch:
  push:
    branches: ["main"]
    paths-ignore:
    - "**.md"
    - "LICENSE"
    - "CODEOWNERS"

  pull_request:
    branches: ["main"]
    paths-ignore:
    - "**.md"
    - "LICENSE"
    - "CODEOWNERS"

permissions:
  contents: read

jobs:
  upgrade-upstream:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Use Node.js 24
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: 24
          cache: "npm"

      - name: "Install K3d"
        run: "curl -s --retry 5 --retry-all-errors --fail https://raw.githubusercontent.com/k3d-io/k3d/main/install.sh | bash"
        shell: bash

      - run: npm ci
      - run: |
          export PEPR_IMAGE=pepr:dev 
          npm run test:upgrade:upstream

